RewriteEngine On

# Redirect non-www to www
RewriteCond %{HTTP_HOST} !^www\.calixworld\.com$ [NC]
RewriteRule ^(.*)$ https://www.calixworld.com/$1 [L,R=301]

# Redirect http to https
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirect /index.php to /index
#RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+(.*)\.php [NC]
#RewriteRule ^ %1 [R=301,L]

# Rewrite /airdrop.php?id=28 to /airdrop/28
#RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+(.*)\.php\?id=([0-9]+) [NC]
#RewriteRule ^ %1/%2? [R=301,L]

# Rewrite /news.php?id=2 to /news/2
#RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+(.*)\.php\?id=([0-9]+) [NC]
#RewriteRule ^ %1/%2? [R=301,L]

# Remove .php extension
#RewriteCond %{REQUEST_FILENAME}.php -f
#RewriteRule ^(.+?)/?$ $1.php [L]
