RewriteEngine On
RewriteCond %{HTTP_HOST} !^www\.calixworld\.com$ [NC,OR]
RewriteCond %{REQUEST_URI} !^/airdroop/
RewriteRule ^(.*)$ https://www.calixworld.com/airdroop/$1 [L,R=301]
RewriteCond %{QUERY_STRING} ^id=([0-9]+)$
RewriteRule ^single-airdrop\.php$ /airdrop/%1? [R=301,L]